</div> <!--main container -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">
          &copy; <script>document.write(new Date().getFullYear())</script> COMP4921 Project2 Group6, BCIT
        </span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="https://github.com/DTMcrae/COMP4921_Project2_Group6_Daniel_Yerim"><svg class="bi" width="24" height="24"><use xlink:href="#github"></use></svg></a></li>
      </ul>
    </footer>
</div>
</body>
</html>